/* Buttons */

.icon-button {
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-icon-button);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  cursor: pointer;
}

.icon-button svg {
  min-width: 1.5rem;
  margin: 0 1.5rem;
  fill: var(--text-primary);
  filter: grayscale(100%) opacity(0.7);
}

.icon-button:hover svg {
  fill: var(--icon-color);
  filter: grayscale(0%) opacity(1);
  transition: var(--transition-speed);
}

.button-select {
  display: inline-block;
  width: 10rem;
  height: 1rem;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-button-sidebar);
  color: var(--text-primary);
  font-size: 0.8rem;
  cursor: pointer;
}
