.code-editor-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 8rem);
  border-radius: var(--radius-xs);
  overflow: hidden;
}

/* settings specific for code mirror */

.CodeMirror {
  flex-grow: 1;
  width: 100%;
  height: auto;
  border: var(--border-thin) solid var(--color-border-subtle);
  box-sizing: border-box;
}

.cm-s-material.CodeMirror {
  background-color: var(--color-input-surface) !important;
}
