.code-editor-container {
  display: flex;
  align-items: stretch;
  width: var(--sidebar-control-main-width);
  border-radius: var(--radius);
  overflow: hidden;
}

/* settings specific for code mirror */

.CodeMirror {
  flex-grow: 1;
  width: 100%;
  height: auto;
  border: var(--border-thin) solid var(--color-border-subtle);
  border-radius: var(--radius);
  box-sizing: border-box;
  padding: 0;
  font-size: 12px;
  line-height: 1.22rem;
}

.cm-s-material.CodeMirror {
  background-color: var(--color-input-surface) !important;
}
