.code-editor-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 8rem);
  border-radius: var(--border-radius-button);
  overflow: hidden;
}

/* settings specific for code mirror */

.CodeMirror {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-input-field-sidebar);
  box-sizing: border-box;
}

.cm-s-material.CodeMirror {
  background-color: var(--bg-input-field) !important;
}

.cm-s-default.CodeMirror-focused,
.cm-s-material.CodeMirror-focused {
  min-height: 200px;
  border: 1px solid var(--border-input-field-sidebar-focus) !important;
}
