:root {
  font-size: 16px;
  font-weight: 300;
  font-family: "pingFangSC", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #1e396f;
  --highlight-color-text: #131318;

  --border-radius: 0.15rem;
  --border-radius-button: 0.15rem;
  --border-size: 0.15rem;
  --border-size-border: 0.25rem;
  --border-size-slider: 1px;
  --border-size-tooltip: 0.1rem;
  --button-size: 3.5rem;
  --button-size-sidebar: 2rem;

  --bg-primary: #23232e;
  --bg-secondary: #131318;
  --bg-canvas: #12181b;
  --border-color: #131318;
  --box-shadow-color: #515151;
  --icon-color: #4878a5;
  --highlight-bg: #afafe4;
  --error-color: #cb3939;
  --bg-tooltip-sidebar: #454e56;
  --tooltip-sidebar-text: white;

  --color0: #f8f8f8;
  --color4: #454e56;
  --color5: #2a2e35;
  --color6: #12181b;
  --color8: #fcc600;
  --color9: #fc6100;
  --color13: #153456;
  --color14: #013b79;
  --color16: #074575;
  --color18: #07a7e3;
  --color22: #b5b5b5;
  --color24: #505050;
  --color25: #c7c7c7;
  --color26: #c8f0ff;
  --color29: #1f2429;
  --color30: #e8e8e8;
  --color34: #0683b0;
  --color36: #2b5786;

  --transition-speed: 100ms;
}

::selection {
  background: var(--highlight-bg);
  color: var(--highlight-color-text);
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
