.block-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: var(--sidebar-section-gap-y);
}
.inline {
  display: inline-flex;
}
.flex-end {
  justify-content: flex-end;
}
.default-min-width {
  min-width: var(--default-element-width);
}
.default-width {
  width: var(--default-element-width);
}
.default-height {
  height: var(--default-element-height);
}
