.block-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  gap: var(--sidebar-control-gap-y);
  margin-bottom: var(--sidebar-section-gap-y);
}

.block-section:last-child {
  margin-bottom: 0;
}

.block-section-stack {
  flex-direction: column;
  align-items: stretch;
  gap: var(--sidebar-control-gap-y);
}

.inline {
  display: inline-flex;
}
.flex-end {
  justify-content: flex-end;
}
.default-min-width {
  min-width: var(--default-element-width);
}
.default-width {
  width: var(--default-element-width);
}
.default-height {
  height: var(--default-element-height);
}
