.pad-top-05 {
  padding-top: 0.5rem;
}
.pad-top-1 {
  padding-top: 1rem;
}
.pad-bottom-02 {
  padding-bottom: 0.2rem;
}
.pad-bottom-025 {
  padding-bottom: 0.25rem;
}
.pad-bottom-05 {
  padding-bottom: 0.5rem;
}
.pad-bottom-1 {
  padding-bottom: 1rem;
}
.pad-left-025 {
  padding-left: 0.25rem;
}
.pad-right-025 {
  padding-right: 0.25rem;
}
/* Margin */
.margin-bottom-025 {
  margin-bottom: -0.25rem;
}
.margin-0 {
  margin: 0;
}
