.label {
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  color: var(--color-text-primary);
  text-align: left;
}

.sidebar-slider {
  width: calc(100% - 8rem);
  height: 0.1rem;
  background: var(--color-slider-track);
  border-radius: 1rem;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

.sidebar-slider::-webkit-slider-thumb {
  width: 1.1em;
  height: 1.1rem;
  background: var(--color-slider-thumb, var(--color-icon-primary));
  border: 1px solid var(--color-slider-thumb-border);
  border-radius: 50%;
  cursor: grab;
  -webkit-appearance: none;
  appearance: none;
}

.sidebar-slider::-moz-range-thumb {
  width: 1.1rem;
  height: 1.1rem;
  background: var(--color-slider-thumb, var(--color-icon-primary));
  border: 1px solid var(--color-slider-thumb-border);
  border-radius: 50%;
  cursor: grab;
}

/* Input Fields */
.input-field {
  flex-shrink: 0;
  text-align: center;
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
  color: var(--color-text-primary);
}

.input-field.large {
  width: 20rem;
  height: 1.5rem;
}

.input-field::-webkit-inner-spin-button,
.input-field::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Switch */

.switch {
  position: relative;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-icon-primary);
  border: var(--border-thin) solid var(--color-border);
  cursor: pointer;
  transition: all var(--motion-duration-fast) var(--motion-ease-standard);
  border-radius: var(--default-element-height);
}

.switch-button:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: 0.13rem;
  bottom: 0.19rem;
  background-color: var(--color-text-inverse);
  transition: all var(--motion-duration-fast) var(--motion-ease-standard);
  border-radius: 50%;
}

input:checked + .switch-button {
  background-color: var(--color-switch-track);
  border: var(--border-thin) solid var(--color-icon-primary);
}

input:checked + .switch-button:before {
  transform: translateX(1.7rem);
}
