.text-field {
  display: inline-block;
  background-color: var(--color-input-surface);
  border: var(--border-thin) solid var(--color-border-subtle);
  border-radius: var(--radius-xs);
  box-sizing: border-box;
  color: var(--color-text-primary);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-primary {
  color: var(--color-text-primary);
}
.text-secondary {
  color: var(--color-text-secondary);
}
.heading {
  display: block;
  color: var(--color-text-primary);
  font-size: var(--font-size-heading);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.text-warning {
  color: var(--color-error);
}
